
.brand {
    font-size: clamp( 4rem, 13vw, 61vh)
}

.wrapper {
	height: 50px;
    position: relative;
    display: block;
    overflow: hidden;
}

.container {
    --height: 40px;
    font-size: 20px;
    margin-bottom: 10px;

    overflow: hidden;
    height: var(--height);
}


.list {
    list-style: none;
    margin-block: 0px;
    padding-block: 0px;
    padding-inline: 0px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 3%;
}


@media (min-height: 460px) {
    .home {
        @apply mt-[15vh];
    }
}