
.counter-card {
    display: flex;
	flex-direction: column;

	.buttons {
		display: flex;

		.counter {
			text-align: center;
			flex-grow: 1;
			align-self: center;
		}
	}
}

.main-counter {
	width: 200px;
	margin: auto; 
	margin-top: 100px;
}
