

.productImage {
  height: 100px !important;
  aspect-ratio: auto;
}

h2 {
  display: inline !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.tooltipWrapper {
  opacity: 0;
  display: none;
  position: absolute;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  top: 100%;
  left: -7.5px;
  width: calc(100% + 20px);
  max-width: 200px;
  text-align: center;
  left: 0px;
  transition: opacity 0.3s;
  box-sizing: border-box;
}
.tooltipWrapper.show {
  opacity: 1;
  display: block;
}

/*
.wrapper {
  padding: 5px;
  position: relative;
}

.productImage {
  height: 100px;
  aspect-ratio: auto;
}

.price {
  margin: 0px;
}

*/