
#app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;

    #main {
        flex-grow: 1;
        overflow: auto;

        > div {
            width: 800px;
            margin: auto;
        }
    }
}