
.counter-card {
    display: flex;
	flex-direction: column;

	.buttons {
		display: flex;

		.divider {
			flex-grow: 1;
		}
	}

	.counter {
		text-align: center;
	}
}

.main-counter {
	width: 200px;
	margin: auto; 
	margin-top: 100px;
}