
.wrapper {

  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: red;
}
.wrapper.show {
  display: inline;
}

.cartTooltipLink {
  display: inline-block;
  padding: 30px;
}