
.icon {
    font-size: 20px;
}

.numberOfProductsInCart {
    position: relative;
    font-size: 20px;
}

.cartProductCounter {
    background-color: red;
    border-color: transparent;
    color: white;
    padding: 1px 3px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: -3px;
    font-size: 10px;
    right: 4px;
}

.cartProductCounter:empty {
    display: none;
}