

.logo {
    border-radius: 50%;
}

.logoWrapper {
    display: block;
    height: 100%;
}

.profile-header-menu-wrapper {
    position: relative;
    right: 50px;
}
#profile-header-menu {
    display: none;
    background-color: #7d7d7d;
    width: 150px;

    padding-top: 5px;
    padding-bottom: 5px;

    ol {
        color: oklch(var(--bc));
        list-style: none;
        margin-block: 0;
        padding-inline: 0;
    }
}
#profile-header-menu.show {
    position: absolute;
    display: unset;
    left: -40px;
}