
.header {
    background-color: #7d7d7d40;
    border-bottom: 1px solid #02020214;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

    .icon {
        width: 100px;
        
    }
    .emptySpace {
        flex-grow: 1;
    }
}
.displayOnLogged {
    display: none;
}
.logged {
    .displayOnLogged {
        display: block;
    }
}
.displayOnUnlogged {
    display: block;
}
.logged {
    .displayOnUnlogged {
        display: none;
    }
}