
.topHeader {
    display: flex;
    align-items: center;
    gap: 10px;

    #storeLogo {
        flex-grow: 1;
    }
}
.displayOnLogged {
    display: none;
}
.logged {
    .displayOnLogged {
        display: block;
    }
}
.displayOnUnlogged {
    display: block;
}
.logged {
    .displayOnUnlogged {
        display: none;
    }
}