
.product {
    display: flex;
    align-items: center;
    gap: 10px;

    .imageWrapper {
        display: flex;
        flex-direction: column;

        .price {
            font-size: 1.5rem;
            padding: 0px;
            margin: 10px;
        }
    }

    .wrapper {
        display: flex;
        flex-direction: column;

        .title {
            font-size: 1.5rem;
            padding: 0px;
            margin: 10px;
        }
    }
}