

.top {
	display: grid;
    grid-template-areas: 'main';
    gap: 1.5rem;

    aside {
        display: none;
        padding-left: calc(1.5rem * .5);

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 0px;

                a {
                    display: inline-block;
                    width: 100%;
                    padding: 8px;
                    text-decoration: none;
                }

                a:hover {
                    color: var(--color-primary);
                    background-color: var(--bs-secondary-bg);
                }
            }
        }
    }
}

@media (min-width: 992px) {
	.top {
		grid-template-areas: 'sidebar main';
		grid-template-columns: 1fr 5fr;

		aside {
			grid-area: sidebar;
			position: sticky;
			top: 0rem;
			display: block !important;
			height: calc(100vh - 6rem);
			overflow-y: auto;
		}
	}
}